:root {
    --background-color: #ffffff;
    --default-color: #444444;
    --heading-color: #37517e;
    --accent-color: #47b2e4;
    --surface-color: #ffffff;
    --contrast-color: #ffffff;
}


:root {
    --default-font: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-font: "Jost", sans-serif;
    --nav-font: "Poppins", sans-serif;
}

:root {
    --bs-breakpoint-xs: 0;
    --bs-breakpoint-sm: 576px;
    --bs-breakpoint-md: 768px;
    --bs-breakpoint-lg: 992px;
    --bs-breakpoint-xl: 1200px;
    --bs-breakpoint-xxl: 1400px;
    --bs-gutter-y: 1.5rem;
    --bs-gutter-x: 1.6rem;
}

/* 글씨체: font-family: "Jost", sans-serif; */



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f9f9;
}

#contact {
    padding: 60px 0;
}

/* .contact-container {
    margin: 0 auto;
    padding: 20px 0;
    background: #f9f9f9; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

.contact-section-title {
    text-align: center;
    padding-bottom:20px;
    position: relative;
}

.contact-section-title h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    position: relative;
    color: var(--heading-color);
    font-family:  "Jost", sans-serif;
}
.contact-section-title h2:before {
    content: "";
    position: absolute;
    display: block;
    width: 160px;
    height: 1px;
    background: color-mix(in srgb, var(--default-color), transparent 60%);
    left: 0;
    right: 0;
    bottom: 1px;
    margin: auto;
}

.contact-section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 3px;
    background: var(--accent-color);
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.section-title p {
    font-size: 16px;
    color: #6c757d;
}


.contact-content {
    width: min(100%, 1308px);
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 12px;
    padding-left: 12px;
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

/* 여기서부터 수정 필요 */
.contact-row {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    margin-top: 24px;
    margin-right: 12px;
    margin-left: 12px;
    justify-content: center;
    width: min(100%, 1320px);
    height: 100%;
}

.contact-col-1 {
    flex: 0 0 auto;
    width: 41.66666667%;
    height: 100%;
    margin: 0 15px 0 0;

}

 .contact-col-2 {
    flex: 0 0 auto;
    width: 58.33333333%;
    height: 100%;
    margin: 0 0 0 15px;

 }



.contact-info {
    background-color: var(--surface-color);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-top: 3px solid var(--accent-color);
    border-bottom: 3px solid var(--accent-color);
    padding: 30px;
    height: 100%;
    font-family:"Jost", sans-serif;
}


.contact-col-1 h3 {
    padding: 0;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 0;
    color: var(--heading-color);
}

.contact-address, .contact-phone, .contact-email {
    margin-bottom: 40px;
}

.contact-col-1 p {
    padding: 0;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
}

.contact-info i {
    font-size: 20px;
    color: var(--accent-color);
    background: color-mix(in srgb, var(--accent-color), transparent 92%);
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    margin-right: 15px;
}

.contact-address:hover i, .contact-email:hover i, .contact-phone:hover i {
    background: var(--accent-color);
    color:#ffffff
}
    

.contact-address, .contact-phone, .contact-email {
    display: flex;
    flex-direction: row;
}

/* =============================여기서부터 오른쪽 박스============================ */
.contact-form {
    background-color: var(--surface-color);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-top: 3px solid var(--accent-color);
    border-bottom: 3px solid var(--accent-color);
    font-family:"Jost", sans-serif;
    padding-right: 20px;
    height: 100%;
} 

.form-inbox {
    margin-top: 24px;
    margin-right: 12px;
    margin-left: 12px;
    display: flex;
    flex-wrap: wrap;
    padding-right: 12px;
    padding-left: 12px;
}

.form-top {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.form-group-1 {
    width: 46.5%;
    margin-bottom: 10px;
    margin-top: 5px;
}

.form-group-2 {
    width: 100%;
    margin-bottom: 10px;
}


.form-group-1 p, .form-group-2 p, .form-group-3 p{
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 8px;
}
.form-control {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 16px;
    font-size: 1.1rem;

}

.form-control-2 {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 0;
    font-size: 1.1rem;
    margin-bottom: 0;

}


/* -------------------여기서부터 버튼----------------- */
.form-group-3 {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
    margin-top: 15px;
    font-size: 14px;
}

.form-btn {
    background:var(--accent-color);
    color: #fff;
    border: none;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: background 0.3s ease;
    text-align: center;
    font-size: 16px;
    height: 2.5rem;
}

.form-btn:hover {
    background: color-mix(in srgb, var(--accent-color), transparent 25%);
}



@media (max-width: 768px) {
    .col-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .info iframe {
        height: 200px;
    }
}
/* 여기서부터 수정 */

/* .contact-form-row {
    display: flex;
    flex-direction: row;
}
.contact-form-group-1 {
    width: 50%;
}
.contact-form-group-2 {
    width: 100%;
} */

/* .form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    text-align: center;
}

.btn:hover {
    background: #0056b3;
}

.text-center {
    text-align: center;
} */

/* @media (max-width: 768px) {
    .col-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .info iframe {
        height: 200px;
    }
} */
